@use "../../assets/media" as *;

.grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 6rem;

  @include respond(1000) {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 4rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 3.6rem;
  margin-bottom: 1rem;

  @include respond(600) {
    text-align: center;
  }
}

.text {
  font-size: 2rem;
  line-height: 1.6;
}

.img {
  width: 50rem;
  height: 60rem;
  object-fit: cover;

  @include respond(1000) {
    grid-template-columns: 1fr;
    width: 40rem;
    height: 50rem;
    max-width: 100%;
  }
}
