section.wrapper {
  max-width: 90rem;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.policy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;

  li {
    margin-left: 2rem;
  }

  h2 {
    margin-bottom: 1.4rem;
  }
}
