@use "../../../assets/media" as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 120rem;
  margin: 0 auto;
  gap: 6rem;

  @include respond(800) {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.feature {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  max-width: 30rem;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.8rem;

  @include respond(600) {
    max-width: 90%;
  }
}

.icon {
  height: 4rem;
  width: 4rem;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  color: var(--color-primary-dark);
}

.title {
  grid-column: 2;
  font-size: 1.8rem;
}

.text {
  grid-column: span 2;
  font-size: 1.8rem;
  align-self: start;
}
