.btn {
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  border-radius: var(--border-radius);
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
}

.btn--fill {
  background-color: var(--color-primary-dark);
  color: #fff;
  padding: 1rem 2rem;

  &:hover {
    background-color: var(--color-primary-dark-hover);
  }
}

.btn-shop {
  background-color: #fff;
  padding: 1rem 2rem;
}
