@use "buttons" as *;
@use "layout" as *;
@use "mixins" as *;
@use "reset" as *;
@use "tags" as *;
@use "typography" as *;
@use "variables" as *;

img {
  border-radius: var(--border-radius);
}

a {
  color: inherit;
  text-decoration: none;
}
