@use "../../../../assets/media" as *;

.item {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
  width: 25rem;
  position: relative;

  @include respond(600) {
    width: 20rem;
  }

  &:hover {
    img {
      filter: brightness(100%);
    }
  }

  img {
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    object-fit: cover;
    aspect-ratio: 1/1;
    filter: brightness(75%);
  }
}

.img-container {
  position: relative;
  height: 100%;
  background-color: transparent;
}

.title {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  width: min-content;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
