@use "../../assets/media" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  h3 {
    text-transform: uppercase;
    color: var(--color-primary-dark);
    margin-bottom: 0.4rem;
    font-size: 2rem;

    @include respond(600) {
      text-align: center;
    }
  }

  h2 {
    color: var(--color-grey-4);
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 3.6rem;

    @include respond(600) {
      text-align: center;
    }
  }
}
