.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  height: 4rem;
  align-items: stretch;
  align-self: flex-start;
  background-color: var(--color-grey-3);
  gap: 1px;
  padding: 1px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  width: 22rem;

  & > * {
    background-color: #fff;
    border-radius: 0;
  }
}

.increase,
.decrease {
  border: none;
  padding: 0 1.2rem;
  background-color: var(--color-grey-2);
  color: var(--color-grey-4);
  transition: all 0.2s;
  height: 100%;

  &:hover {
    background-color: var(--color-grey-3);
  }
}

.decrease {
  border-radius: 0.4rem 0 0 0.4rem;
}

.increase {
  border-radius: 0 0.4rem 0.4rem 0;
}

.quantity {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
}

.small {
  width: 15rem;
  height: 3.6rem;
  .quantity {
    font-size: 1.6rem;
  }
  .icon {
    height: 1rem;
    width: 1rem;
  }
}
