.modal {
  position: fixed;
  width: max-content;
  height: max-content;
  background-color: var(--color-white);
  z-index: 100;
  border-radius: var(--border-radius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  padding: 6rem 3rem 3rem 3rem;
  font-size: 2rem;
}

.btn-close {
  font-size: 5.4rem;
  position: absolute;
  top: 0;
  right: 1.2rem;
  padding: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.modal-btn-container {
  display: flex;
  gap: 2rem;
}

.btn-cancel {
  background-color: var(--color-grey-4);

  &:hover {
    background-color: #777;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.percent {
  color: var(--color-primary-dark);
  font-size: 6rem;
  font-weight: 500;
  padding: 0 3rem;
}

.promo {
  color: var(--color-primary-dark);
  font-size: 4rem;
  font-weight: 700;
}

.heading {
  font-size: 2.4rem;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.btn {
  font-size: 2rem;
}
