@use "../../../assets/media" as *;

.wrapper {
  @include respond(800) {
    position: fixed;
    transform: translate(-100%, -50%);
    z-index: 100;
    background-color: var(--color-white);
    transition: transform 0.3s linear;
    top: 50%;
    left: 0;
    padding: 3rem 3rem 3rem 2.4rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}

.nav-open {
  @include respond(800) {
    transform: translate(0%, -50%);
  }
}

.btn-close {
  display: none;
  font-size: 5.4rem;

  @include respond(800) {
    display: block;
    position: absolute;
    top: 0rem;
    right: 1.8rem;
  }
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: -0.8rem;

  @include respond(800) {
    font-size: 2.4rem;
  }
}

.link {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
  font-size: 1.6rem;

  @include respond(800) {
    font-size: 2rem;
  }

  &:hover {
    font-weight: 600;
    color: var(--color-primary-dark);
  }
}

.active {
  font-weight: 600;
  color: var(--color-primary-dark);
}

.sticky {
  position: sticky;
  top: 10rem;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;

  @include respond(800) {
    position: static;
    max-height: auto;
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-3);
    border-radius: 1000rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.heading-wrapper {
  display: flex;
  gap: 3rem;
}

.btn-clear {
  align-self: flex-start;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;

  @include respond(800) {
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
  }
}

.search {
  width: 90%;
  padding: 0.4rem 3.6rem 0.4rem 0.8rem;
  font-size: 1.6rem;

  @include respond(800) {
    font-size: 2rem;
  }

  &::placeholder {
    font-size: 1.4rem;
    color: var(--color-grey-3);
  }
}

.search-wrapper {
  position: relative;
}

.magnify-icon {
  position: absolute;
  right: 3.6rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  color: var(--color-grey-3);
}
