.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: -0.8rem;
}

.link {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
  font-size: 1.6rem;

  &:hover {
    font-weight: 600;
    color: var(--color-primary-dark);
  }
}

.active {
  font-weight: 600;
  color: var(--color-primary-dark);
}

.sticky {
  position: sticky;
  top: 11rem;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-3);
    border-radius: 1000rem;
  }
}

.filter-row {
  display: flex;
  gap: 0.8rem;
  font-size: 0.2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn-clear {
  align-self: flex-start;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
}

.search {
  width: 90%;
  padding: 0.4rem 3.6rem 0.4rem 0.8rem;
  font-size: 1.6rem;

  &::placeholder {
    font-size: 1.4rem;
    color: var(--color-grey-3);
  }
}

.search-wrapper {
  position: relative;
}

.magnify-icon {
  position: absolute;
  right: 3.6rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  color: var(--color-grey-3);
}

.container {
  display: block;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  user-select: none;

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--color-primary-dark);
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border-radius: var(--border-radius);

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.8rem;
    top: 0.4rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
  }
}
