@use "../../assets/media" as *;

.wrapper {
  header {
    margin-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .order-number {
      font-size: 2.2rem;
    }
  }
}

.btn-back {
  margin-top: 4rem;
  display: inline-block;
}

.btn-container {
  display: flex;
  gap: 1.4rem;
}

.content {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;

  @include respond(600) {
    grid-template-columns: 1fr;
  }
}

.heading {
  margin-bottom: 3rem;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include respond(600) {
    grid-row: 1;
  }
}

.order-spinner {
  height: 12rem;
  width: 12rem;
  color: var(--color-primary-dark);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  padding: 5rem;
  font-size: 2.4rem;
}
