@use "../../assets/media" as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  @include respond(600) {
    grid-template-columns: 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-self: center;
  align-items: center;

  @include respond(600) {
    margin-bottom: 4rem;
  }
}

.section-heading {
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-self: start;
  width: max-content;
}

.items {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-grey-3);
  border-radius: var(--border-radius);
  padding: 0 1rem;
  height: max-content;
}

.summary {
  width: 35rem;
}
