.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
    background-color: #f7f7f7;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }
}
