.container {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: var(--container-margin-top);
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--color-primary-dark);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.email {
  strong {
    font-weight: 600;
  }
}
