// VARIABLES

:root {
  // COLORS
  --color-grey-1: #f7f7f7;
  --color-grey-2: #eee;
  --color-grey-3: #ccc;
  --color-grey-4: #555;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #333;
  --color-primary-dark: #285430;
  --color-primary-dark-hover: #3e814b;

  // --color-primary-dark: #61764b;
  --color-primary-light: #9ba17b;
  --color-secondary: #ffdb8e;
  --color-tertiary: #cfb997;
  --color-red-dark: rgb(161, 0, 0);
  --color-orange: rgb(223, 147, 8);

  // BORDER RADIUS
  --border-radius: 0.4rem;

  // FONT SIZE
  --font-size: 1.6rem;

  // MARGIN
  --container-margin-top: 4rem;

  // WIDTHS
  --container-max-width: 120rem;
}

// GLOBAL RESET

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

// TYPOGRAPHY

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  color: var(--color-text);
  font-weight: 400;
}

// GLOBAL

img {
  border-radius: var(--border-radius);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
  border: 1px solid var(--color-grey-3);
  font-size: 1.6rem;
  color: var(--color-grey-4);
  border-radius: var(--border-radius);

  &:focus {
    outline: none;
  }
}

// LAYOUT

body {
  overflow-y: overlay;
}

.container {
  max-width: var(--container-max-width);
  margin: 4rem auto 8rem auto;
  min-height: 60vh;
}

// MIXINS

@mixin respond($breakpoint) {
  @if $breakpoint == 600 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == 800 {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }
  @if $breakpoint == 1000 {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }
  @if $breakpoint == 1200 {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == 1400 {
    @media only screen and (max-width: 87.5em) {
      @content;
    }
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
