.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }
}
