div.dropdown {
  width: 45rem;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;

  .btn {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }
}

.footer {
  padding: 1.8rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-grey-3);

  strong {
    margin-right: 0.8rem;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
  }
}
