@use "../../assets/media" as *;

.wrapper {
  margin-top: 4rem;
}

.btn-back {
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 6rem;
  margin-top: 3rem;

  @include respond(800) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }
}

.img-container {
  height: 45rem;
  position: relative;

  @include respond(600) {
    height: auto;
    width: 90vw;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.new-tag {
  height: 7.5rem;
  width: 7.5rem;
  font-size: 1.6rem;
  top: 1.2rem;
  left: 1.2rem;
}

.title {
  font-size: 4.4rem;
  margin-bottom: 2rem;

  @include respond(600) {
    align-self: center;
  }
}

.description {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.strike {
  text-decoration: line-through;
  color: #555;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3rem;

  @include respond(800) {
    width: max-content;
    align-self: center;
  }
}

.low-stock {
  color: var(--color-red-dark);
}

.qty-btns {
  @include respond(800) {
    align-self: center;
    width: 65%;
    max-width: 40rem;
  }
}

.button-container {
  display: flex;
  gap: 1.2rem;

  @include respond(1000) {
    flex-direction: column;
  }

  @include respond(800) {
    width: 65%;
    align-self: center;
    max-width: 40rem;
  }
}
