.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.row-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.row-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.wrapper {
  position: relative;
  font-size: 1.4rem;

  input,
  select {
    height: 4.4rem;
    width: 100%;
    font-size: 1.4rem;
    background-color: var(--color-white);
  }

  input {
    padding: 1.6rem 0.8rem 0.2rem 0.8rem;
  }

  select {
    padding: 1.6rem 0.8rem 0.2rem 0.6rem;
  }

  select:has(option[value=""]:checked) + label,
  input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
  }

  input:placeholder-shown,
  select:has(option[value=""]:checked) {
    padding: 0.8rem;
  }

  input::placeholder {
    color: #888;
  }

  select:has(option[value=""]:checked) {
    color: #888;
    & option {
      color: var(--color-grey-4);
    }
  }
  label {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0.9rem;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    font-size: 1.2rem;
    color: #888;
  }
}

.invalid {
  border: 2px solid #e32c2b;
}

.error-msg {
  font-size: 1.2rem;
  color: #e32c2b;
}

.submit {
  align-self: center;
  padding: 1.6rem 5rem;
  font-size: 1.6rem;
}
